@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to right, #ad5389, #3c1053);
  min-height: 100vh;
  width: 100%;
}

.container {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(3, minmax(30%,1fr));
  grid-template-rows: repeat(14,minmax(250px,1fr));
  margin: 2% auto;
}

@media only screen and (max-width:1180px) {
  .container{
      grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
      grid-template-rows: repeat(14,minmax(250px,1fr));
  }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
  .container{
      grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
      grid-template-rows: repeat(21,minmax(250px,1fr));
  }
}

@media only screen and (max-width:767px) {
  .container{
      grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
      grid-template-rows: repeat(42,minmax(250px,1fr));
  }
}

.container div {
  background-color: rgb(0, 0, 0);
  height: 90%;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

/*!--------------------------Loader1 CSS---------------------------*/

.loader1 span {
  margin: 40px auto;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.5;
  box-shadow: 0 -30px 0 rgba(255, 255, 255, 0.8),
    22px -22px 0 rgba(255, 255, 255, 0.7),
    30px 0px 1px rgba(255, 255, 255, 0.5),
    0px 30px 2px rgba(255, 255, 255, 0.4),
    -22px 22px 2px rgba(255, 255, 255, 0.3),
    -30px 0px 3px rgba(255, 255, 255, 0.2),
    -22px -22px 3px rgba(255, 255, 255, 0.1);
  transform-origin: 50%;
  animation: rotate 0.5s steps(8, end) infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/*!--------------------------Loader2 CSS---------------------------*/

.loader2 span {
  position: relative;
  margin:auto 10px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  animation: upanddown 1s linear infinite;
  animation-delay: calc(0.2s * var(--i));
  background: #f25022;
}

@keyframes upanddown {
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.loader2 span:nth-child(2) {
  background: #db4437;
}

.loader2 span:nth-child(4) {
  background: #f4b400;
}

.loader2 span:nth-child(1) {
  background: #4285f4;
}

.loader2 span:nth-child(5) {
  background: #0f9d58;
}

/*!--------------------------Loader3 CSS---------------------------*/



/*!--------------------------Loader4 CSS---------------------------*/

.loader4 span {
  position: absolute;
  height: 90px;
  width: 90px;
  background: linear-gradient(270deg, #1a2a6c, #b21f1f, #fdbb2d);
  border-radius: 50%;
  animation: rotate1 3s linear infinite;
}

@keyframes rotate1 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.loader4 section {
  position: relative;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  top: -1px;
}

.loader4 .write {
  position: absolute;
  color: #fff;
  height: 18px;
  width: 50px;
  font-size: 12px;
  bottom: 45%;
}

/*!--------------------------Loader5 CSS---------------------------*/

.loader5 span {
  position: absolute;
  height: 70px;
  width: 70px;
  border: 4px solid #ecb22e;
  border-radius: 50%;
  animation: water 3s linear infinite;
  animation-delay: calc(-1s * var(--i));
}

@keyframes water {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}

/*!--------------------------Loader6 CSS---------------------------*/

.loader6 .top {
  position: absolute;
  height: 100px;
  width: 100px;
  border-top: 10px solid #833ab4;
  border-left: 10px solid transparent;
  border-radius: 50%;
  animation: run 1s linear infinite;
}

.loader6 .top .inner {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #833ab4;
  border-radius: 50%;
  top: 2.5px;
  left: 4px;
  animation: ch 1s linear infinite;
}

@keyframes run {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
    border-top-color: #b92b27;
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes ch {
  50% {
    background: #b92b27;
  }
}

.loader6 h3 {
  color: #fff;
  font-size: 12px;
}

/*!--------------------------Loader7 CSS---------------------------*/

.loader7 .top1 {
  position: absolute;
  height: 80px;
  width: 80px;
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-radius: 50%;
  animation: run1 2s linear infinite;
  /* background-color: red; */
}

@keyframes run1 {
  0% {
    transform: rotate(0deg);
    border-top: 7px solid #00c3ff;
    border-bottom: 7px solid #ffff1c;
  }
  50% {
    transform: rotate(-180deg);
    border-top: 7px solid #ffff1c;
    border-bottom: 7px solid #00c3ff;
  }
  100% {
    transform: rotate(-360deg);
    border-top: 7px solid #00c3ff;
    border-bottom: 7px solid #ffff1c;
  }
}

/*!--------------------------Loader8 CSS---------------------------*/

.loader8 span {
  position: relative;
  height: 100px;
  width: 100px;
  /* background-color: #fff; */
  border-radius: 50%;
  border-top: 7px solid #8a2387;
  animation: colorspinner 2s linear infinite;
}

.loader8 span::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: -7px;
  /* background-color: #fff; */
  border-radius: 50%;
  border-top: 7px solid #e94057;
  transform: rotate(120deg);
}

.loader8 span::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: -7px;
  /* background-color: #fff; */
  border-radius: 50%;
  border-top: 7px solid #f27121;
  transform: rotate(240deg);
}

.loader8 h3 {
  color: #fff;
  margin-left: 15px;
  /* background-color: red; */
}

@keyframes colorspinner {
  100% {
    transform: rotate(360deg);
  }
}

/*!----------------------------Loader9 css------------------------------------*/

.loader9 span {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border-top: 7px solid #8a2387;
  animation: colorspinner 2s linear infinite;
}

.loader9 span::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: -4px;
  left: 7px;
  border-radius: 50%;
  border-top: 7px solid #e94057;
  transform: rotate(120deg);
}

.loader9 span::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 1px;
  left: 1px;
  border-radius: 50%;
  border-top: 7px solid #f27121;
  transform: rotate(240deg);
}

.loader9 h3 {
  color: #fff;
  margin-left: 15px;
  /* background-color: red; */
}

@keyframes colorspinner {
  100% {
    transform: rotate(360deg);
  }
}

/*!-------------------------------Loader10---------------------------------*/

.loader10 span {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  /* background-color: #fff; */
  border: 0px solid blue;
}

.loader10 span:nth-child(3) {
  border-bottom: 5px solid #fcb045;
  animation: r1 1.5s linear infinite;
}

.loader10 span:nth-child(2) {
  border-right: 5px solid #833ab4;
  animation: r2 1.5s linear infinite;
}

.loader10 span:nth-child(1) {
  border-top: 5px solid #fd1d1d;
  animation: r3 1.5s linear infinite;
}

@keyframes r1 {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes r2 {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes r3 {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

/*!-------------------------------Loader11---------------------------------*/

.loader11 span {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border-top: 10px solid #b92b27;
  border-left: 10px solid #ffdde1;
  border-right: 10px solid #ffdde1;
  border-bottom: 10px solid #ffdde1;
  animation: rotate2 1s linear infinite;
}

@keyframes rotate2 {
  100% {
    transform: rotate(360deg);
  }
}

/*!-------------------------------Loader12---------------------------------*/

.loader12 {
  flex-direction: column;
}

.loader12 .load {
  height: 50px;
  margin-top: 45px;
  position: relative;
  transform-origin: bottom center;
  animation: round 3s linear infinite;
}

.loader12 span {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: purple;
  margin: -5px;
  transform: scale(0);
  animation: grow 1.5s linear infinite;
}

.loader12 span:nth-child(2) {
  background-color: palevioletred;
  animation-delay: 0.75s;
}

@keyframes round {
  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  50% {
    transform: scale(1);
  }
}

/*!-------------------------------Loader13---------------------------------*/

.loader13 span {
  display: inline-block;
  height: 0px;
  width: 0px;
  background-color: purple;
  border-radius: 50%;
  margin: 5px;
  transform: translateY(0px);
  animation: bounce 0.6s infinite alternate;
}

.loader13 span:nth-child(2) {
  background: palevioletred;
  animation-delay: 0.2s;
}

.loader13 span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    width: 20px;
    height: 20px;
    transform: translateY(-16px);
  }
}

/*!-------------------------------Loader14---------------------------------*/

.loader14 span {
  position: absolute;
}

.loader14 span:nth-child(1) {
  height: 80px;
  width: 80px;
  border-top: 1px solid #1a2a6c;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 50%;
  animation: rotate3 linear 1s infinite;
}

.loader14 span:nth-child(2) {
  height: 95px;
  width: 95px;
  border-top: 1px solid #b21f1f;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 50%;
  animation: rotate3 linear 1.5s infinite;
}

.loader14 span:nth-child(3) {
  height: 110px;
  width: 110px;
  border-top: 1px solid #fdbb2d;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 50%;
  animation: rotate3 linear 2s infinite;
}

@keyframes rotate3 {
  to {
    transform: rotate(360deg);
  }
}

/*!-------------------------------Loader15---------------------------------*/

.loader15 span {
  position: absolute;
  height: 60px;
  width: 60px;
  background: linear-gradient(#de6161, #2657eb);
  /* overflow: hidden; */
  /* transform: rotate(45deg); */
  clip-path: polygon(50%0%, 100%100%, 0%100%);
  animation: box 3s linear infinite;
}

@keyframes box {
  12.5% {
    transform: rotate(90deg);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  25% {
    transform: rotate(180deg);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  }
  37.5% {
    transform: rotate(270deg);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  50% {
    transform: rotate(360deg);
    clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
  }
  62.5% {
    transform: rotate(450deg);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  75% {
    transform: rotate(540deg);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  }
  87.5% {
    transform: rotate(630deg);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  100% {
    transform: rotate(720deg);
    clip-path: polygon(50%0%, 100%100%, 0%100%);
  }
}

/*!-------------------------------Loader16---------------------------------*/

.loader16 span {
  position: absolute;
  height: 20px;
  width: 20px;
  border: 2px solid;
  border-radius: 50%;
  border-color: #fdbb2d transparent transparent #fdbb2d;
  animation: rotate4 0.2s linear infinite;
}

.loader16 span:nth-child(2) {
  height: 30px;
  width: 30px;
  border-color: #b21f1f transparent transparent #b21f1f;
  animation: rotate4 0.4s linear infinite;
}

.loader16 span:nth-child(3) {
  height: 40px;
  width: 40px;
  border-color: #1a2a6c transparent transparent #1a2a6c;
  animation: rotate4 0.6s linear infinite;
}

.loader16 span:nth-child(4) {
  height: 50px;
  width: 50px;
  animation: rotate4 0.8s linear infinite;
}

.loader16 span:nth-child(5) {
  height: 60px;
  width: 60px;
  border-color: #b21f1f transparent transparent #b21f1f;
  animation: rotate4 1s linear infinite;
}

.loader16 span:nth-child(6) {
  height: 70px;
  width: 70px;
  border-color: #1a2a6c transparent transparent #1a2a6c;
  animation: rotate4 1.2s linear infinite;
}

.loader16 span:nth-child(7) {
  height: 80px;
  width: 80px;
  animation: rotate4 1.4s linear infinite;
}

.loader16 span:nth-child(8) {
  height: 90px;
  width: 90px;
  border-color: #b21f1f transparent transparent #b21f1f;
  animation: rotate4 1.6s linear infinite;
}

.loader16 span:nth-child(9) {
  height: 100px;
  width: 100px;
  border-color: #1a2a6c transparent transparent #1a2a6c;
  animation: rotate4 1.8s linear infinite;
}

.loader16 span:nth-child(10) {
  height: 110px;
  width: 110px;
  animation: rotate4 2s linear infinite;
}

@keyframes rotate4 {
  to {
    transform: rotate(360deg);
  }
}

/*!-------------------------------Loader17---------------------------------*/

.loader17 span {
  position: absolute;
  height: 20px;
  width: 20px;
  left: 45%;
  top: 38%;
  border-radius: 50%;
  animation: spin 2s ease infinite;
  animation-delay: calc(-0.5s * var(--i));
}

.loader17 span:first-child {
  background-color: #ff6795;
}

.loader17 span:nth-child(2) {
  background-color: #3cbdff;
}

.loader17 span:nth-child(3) {
  background-color: #ffe448;
}

.loader17 span:last-child {
  background-color: #feaa82;
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}

/*!-------------------------------Loader18---------------------------------*/

.loader18 span {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.loader18 span:nth-child(1) {
  transform: rotateX(-60deg) rotateY(60deg) rotateZ(0deg);
  border-top: 5px solid #b2fefa;
  border-bottom: 5px solid #0ed2f7;
  animation: atom1 3s linear infinite;
}

.loader18 span:nth-child(2) {
  transform: rotateX(60deg) rotateY(60deg) rotateZ(0deg);
  border-top: 5px solid #ee9ca7;
  border-bottom: 5px solid #ffdde1;
  animation: atom2 3s linear infinite;
}

.loader18 span:nth-child(3) {
  transform: rotateX(-70deg) rotateY(5deg) rotateZ(0deg);
  border-top: 5px solid #ff0099;
  border-bottom: 5px solid #493240;
  animation: atom3 3s linear infinite;
}

.loader18 span:nth-child(4) {
  height: 5px;
  width: 5px;
  background-color: #2657eb;
  border-radius: 50%;
}

@keyframes atom1 {
  to {
    transform: rotateX(-60deg) rotateY(60deg) rotateZ(360deg);
  }
}

@keyframes atom2 {
  to {
    transform: rotateX(60deg) rotateY(60deg) rotateZ(360deg);
  }
}

@keyframes atom3 {
  to {
    transform: rotateX(-70deg) rotateY(5deg) rotateZ(360deg);
  }
}

/*!-------------------------------Loader19---------------------------------*/

.loader19 span:nth-child(1) {
  position: absolute;
  height: 50px;
  width: 30px;
  top:80px;
  overflow: hidden;
  border-radius: 0px 0px 30px 30px;
  border: 2px solid #fff;
}

.loader19 span:nth-child(2) {
  position: absolute;
  height: 40px;
  width: 2px;
  background-color: #fff;
  bottom: 56px;
}

.loader19 span:nth-child(3) {
  position: absolute;
  height: 7px;
  width: 30px;
  background-color: #fff;
  bottom: 50px;
  border-radius: 50%;
}

.loader19 span:nth-child(1) svg {
  height: 100%;
  animation: wave 10s linear infinite;
}

@keyframes wave {
  12.5% {
    transform: translateX(-20%) translateY(5%);
  }
  25% {
    transform: translateX(-40%) translateY(10%);
  }
  37.5% {
    transform: translateX(-60%) translateY(15%);
  }
  50% {
    transform: translateX(-85%) translateY(20%);
  }
}

/*!-------------------------------Loader20---------------------------------*/

.loader20 span {
  position: absolute;
}

.loader20 span:nth-child(1) {
  height: 100px;
  width: 100px;
  border: 2px solid #b92b27;
  border-radius: 30% 70% 47% 53% / 47% 24% 76% 53%;
  animation: blob 0.5s infinite alternate;
}

.loader20 span:nth-child(2) {
  height: 105px;
  width: 105px;
  border: 2px solid #1565c0;
  transform: rotate(20deg);
  border-radius: 48% 52% 27% 73% / 81% 33% 67% 19%;
  animation: blob 1s infinite alternate;
}

.loader20 span:nth-child(3) {
  height: 110px;
  width: 110px;
  border: 2px solid #544a7d;
  transform: rotate(45deg);
  border-radius: 69% 31% 55% 45% / 24% 72% 28% 76%;
  animation: blob 2s infinite alternate;
}

.loader20 span:nth-child(4) {
  height: 115px;
  width: 115px;
  border: 2px solid #ffd452;
  transform: rotate(55deg);
  border-radius: 43% 57% 38% 62% / 48% 34% 66% 52%;
  animation: blob 1.2s infinite alternate;
}

.loader20 span:nth-child(5) {
  height: 120px;
  width: 120px;
  border: 2px solid #f27121;
  transform: rotate(60deg);
  border-radius: 39% 61% 57% 43% / 38% 44% 56% 62%;
  animation: blob 1s infinite alternate;
}

.loader20 h5 {
  color: #fff;
}

@keyframes blob {
  to {
    transform: rotate(540deg);
  }
}

/*!-------------------------------Loader21---------------------------------*/

.loader21 span {
  height: 30px;
  width: 20px;
  color: #fff;
  background-color: purple;
  margin: auto 3px;
  text-align: center;
  text-transform: uppercase;
  animation: load 0.5s infinite;
}

.loader21 span:nth-child(even) {
  animation-delay: 0.1s;
}

@keyframes load {
  50% {
    height: 50px;
    background-color: palevioletred;
  }
}

/*!-------------------------------Loader22---------------------------------*/

.loader22 span {
  position: relative;
  height: 30px;
  width: 5px;
  background-color: #fff;
  border-radius: 5px;
  margin: auto 2px;
  animation: bar 0.9s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes bar {
  0%,
  100% {
    height: 0px;
  }
  50% {
    height: 30px;
  }
}

/*!-------------------------------Loader23---------------------------------*/

.loader23 section {
  position: relative;
  height: 110px;
  width: 110px;
  display: grid;
  grid-template-columns: repeat(3, 30px);
  grid-template-rows: repeat(3, 30px);
  grid-gap: 5px;
  /* background-color: red; */
}

.loader23 section span {
  margin: 5px;
  position: relative;
  height: 30px;
  width: 30px;
  background-color: #fff;
  animation: board 2s linear infinite;
  background: var(--clr);
  animation-delay: calc(-0.4s * var(--i));
}

@keyframes board {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

/*!-------------------------------Loader24---------------------------------*/

.loader24 span {
  position: relative;
  height: 50px;
  width: 50px;
  border: 2px solid #fff;
  overflow: hidden;
  animation: box-rot 2s linear infinite;
}

.loader24 span::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: -50px;
  background-color: #fff;
  animation: box-slide 2s linear infinite;
}

@keyframes box-rot {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes box-slide {
  0% {
    top: -50px;
  }
  25% {
    top: -50px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 0px;
  }
  100% {
    top: -50px;
  }
}

/*!-------------------------------Loader25---------------------------------*/

.loader25 span {
  height: 100px;
  width: 100px;
  background-color: #833ab4;
  border-radius: 5px;
  animation: pres 5s linear infinite;
}

@keyframes pres {
  0% {
    transform: perspective(200px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(200px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(200px) rotateX(-180deg) rotateY(-180deg);
  }
}

/*!-------------------------------Loader26---------------------------------*/

.loader26 section {
  height: 70px;
  width: 70px;
  position: relative;
  /* background-color: #ffff1c; */
  transform: rotate(45deg);
  animation: resize 2s linear infinite;
}

.loader26 section span {
  position: absolute;
  height: 35px;
  width: 35px;
  animation: rotate5 1s linear infinite;
}

.loader26 section span:nth-child(1) {
  top: 0px;
  left: 0px;
  background-color: #4285f4;
}

.loader26 section span:nth-child(2) {
  top: 0px;
  right: 0px;
  background-color: #db4437;
}

.loader26 section span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  background-color: #f4b400;
}

.loader26 section span:nth-child(4) {
  bottom: 0px;
  right: 0px;
  background-color: #0f9d58;
}

@keyframes resize {
  0% {
    height: 70px;
    width: 70px;
  }
  10% {
    height: 70px;
    width: 70px;
  }
  50% {
    height: 100px;
    width: 100px;
  }
  90% {
    height: 70px;
    width: 70px;
  }
  90% {
    height: 70px;
    width: 70px;
  }
}

@keyframes rotate5 {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  90% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

/*!-------------------------------Loader27---------------------------------*/

.loader27 span {
  position: relative;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #ffffff;
  margin: auto 5px;
}

.loader27 span:first-child {
  animation: long 2s linear infinite;
}

.loader27 span:not(:first-child) {
  animation: short 2s linear infinite;
}

@keyframes long {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
}

@keyframes short {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-20px);
  }
}

/*!-------------------------------Loader28---------------------------------*/

.loader28 span {
  position: relative;
  height: 8px;
  width: 200px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  overflow: hidden;
}

.loader28 span::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0f9d58;
  border-radius: 5px;
  animation: load1 1s linear infinite alternate;
}

@keyframes load1 {
  100% {
    left: 70%;
  }
}

/*!-------------------------------Loader29---------------------------------*/

.loader29 span {
  position: relative;
  height: 8px;
  width: 200px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  overflow: hidden;
}

.loader29 span::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0f9d58;
  border-radius: 5px;
  animation: load2 2s steps(6) infinite;
}

@keyframes load2 {
  90% {
    width: 100%;
  }
  100% {
    width: 110%;
  }
}

/*!-------------------------------Loader30---------------------------------*/

.loader30 section {
  position: relative;
  height: 50px;
  width: 40%;
  overflow: hidden;
}

.loader30 section span {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #c31432;
  border-radius: 2px;
  left: 40%;
  animation: rot 1.2s linear infinite;
  transform-origin: bottom 80%;
}

@keyframes rot {
  0% {
    top: 5px;
    transform: rotate(0deg);
  }
  50% {
    top: 15px;
    transform: rotate(90deg);
  }
  100% {
    top: 5px;
    transform: rotate(180deg);
  }
}

/*!-------------------------------Loader31---------------------------------*/

.loader31 span{
  position: absolute;
  border-radius: 50%;
  border-top: 20px solid #d5d5d5;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.loader31 span:nth-child(1){
  height: 15px;
  width: 15px;
  top: 60%;
  background-color: #d5d5d5;
  border: none;
  animation: wifi1 5s infinite;
}

.loader31 span:nth-child(2){
  height: 70px;
  width: 70px;
  top: 45%;
  animation: wifi2 5s infinite;
}

.loader31 span:nth-child(3){
  height: 130px;
  width: 130px;
  top: 30%;
  animation: wifi3 5s infinite;
}

.loader31 span:nth-child(4){
  height: 190px;
  width: 190px;
  top: 15%;
  animation: wifi4 5s infinite;
}

@keyframes wifi1 {
  19%{
    background-color: #d5d5d5;
  }
  20%{
    background-color: #f80f62;
  }
  100%{
    background-color: #f80f62;
  }
}

@keyframes wifi2 {
  39%{
    border-top-color: #d5d5d5;
  }
  40%{
    border-top-color: #f80f62;
  }
  100%{
    border-top-color: #f80f62;
  }
}

@keyframes wifi3 {
  59%{
    border-top-color: #d5d5d5;
  }
  60%{
    border-top-color: #f80f62;
  }
  100%{
    border-top-color: #f80f62;
  }
}

@keyframes wifi4 {
  79%{
    border-top-color: #d5d5d5;
  }
  80%{
    border-top-color: #f80f62;
  }
  100%{
    border-top-color: #f80f62;
  }
}

/*!-------------------------------Loader32---------------------------------*/

.loader32 section{
  position: relative;
  height: 104px;
  width: 104px;
  /* background-color: #fff; */
}

.loader32 section span{
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: #ffff1c;
}

.loader32 .sq1{
  top: 54px;
  left: 54px;
}

.loader32 .sq2{
  bottom: 54px;
  transform-origin: bottom;
  animation: rot3 5s linear infinite;
}

.loader32 .sq3{
  right: 54px;
  transform-origin: right;
  animation: rot2 5s linear infinite;
}

.loader32 .sq4{
  top: 54px;
  transform-origin: top;
  animation: rot1 5s linear infinite;
}

@keyframes rot1 {
  0%{
    transform: rotateX(0deg);
  }
  10%{
    transform: rotateX(-180deg) translateY(4px);
  }
  70%{
    transform: rotateX(-180deg) translateY(4px);
  }
  80%{
    transform: rotateX(0deg);
  }
}

@keyframes rot2 {
  10%{
    transform: rotateY(0deg);
  }
  20%{
    transform: rotateY(-180deg) translateX(-4px);
  }
  60%{
    transform: rotateY(-180deg) translateX(-4px);
  }
  70%{
    transform: rotateY(0deg);
  }
}

@keyframes rot3 {
  20%{
    transform: rotateX(0deg);
  }
  30%{
    transform: rotateX(180deg) translateY(-4px);
  }
  50%{
    transform: rotateX(180deg) translateY(-4px);
  }
  60%{
    transform: rotateX(0deg);
  }
}

/*!-------------------------------Loader33---------------------------------*/

.loader33 span{
  position: relative;
  height: 25px;
  width: 25px;
  background: radial-gradient(#99f2c8,#1f4037);
  border-radius: 50%;
  margin: auto 4px;
}

.loader33 span:first-child{
  transform-origin: 0 -100px;
  animation: swing1 1s linear infinite;
}

.loader33 span:last-child{
  transform-origin: 0 -100px;
  animation: swing2 1s 0.5s linear infinite;
}

@keyframes swing1 {
  25%{
    transform: rotate(45deg);
  }
  50%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

@keyframes swing2 {
  25%{
    transform: rotate(-45deg);
  }
  50%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

/*!-------------------------------Loader34---------------------------------*/

.loader34 section{
  position: absolute;
  height: 40px;
  width: 40px;
  background:#bc4e9c;
  animation: cube 1.5s linear infinite;
  border: 1px solid #dbcece;
}

.loader34 section span{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #bc4e9c;
  border: 1px solid #dbcece;
}

.loader34 section span:nth-child(1){
  top: -40px;
  transform-origin: bottom right;
  animation: cube1 1.5s linear infinite;
}
.loader34 section span:nth-child(2){
  transform-origin: left top;
  top: 40px;
  animation: cube1 1.5s linear infinite;
}
.loader34 section span:nth-child(3){
  transform-origin: bottom left;
  left: 40px;
  animation: cube1 1.5s linear infinite;
}
.loader34 section span:nth-child(4){
  transform-origin: top right;
  left: -40px;
  animation: cube1 1.5s linear infinite;
}

@keyframes cube1 {
  90%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(180deg);
  }
}

@keyframes cube {
  90%{
    transform: rotate(-90deg);
  }
  100%{
    transform: rotate(-90deg);
  }
}

/*!-------------------------------Loader35---------------------------------*/

.loader35 span{
  position: relative;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
  margin-top: -10%;
  padding: 0px 5px;
  text-align:start;
  color: #810CA8;
  animation: text 3.5s linear infinite;
  filter: drop-shadow(5px 5px 2px rgb(145, 71, 71));
  transform-origin: bottom;
  height: 55px;
  animation-delay: calc(0.5s*var(--i));
}

.loader35 span:nth-child(even){
  color: #E5B8F4;
}

@keyframes text {
  100%{
    transform: rotateX(360deg);
  }
}

/*!-------------------------------Loader36---------------------------------*/

.loader36 section{
  position: relative;
  height: 100px;
  width: 100px;
  /* background: #fff; */
}

.loader36 section span{
  position: absolute;
}

.loader36 section span:nth-child(1){
  height: 100px;
  width: 100px;
  border-top: 15px solid #cd0000;
  border-left: 15px solid #cd0000;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  background-color: transparent;
  border-radius: 50%;
  rotate: -45deg;
  animation: body 3s linear infinite;
}

.loader36 section span:nth-child(2){
  height: 35px;
  width: 35px;
  border-radius: 35px 0px 0px 0px;
  background: #f2f7f9;
  top: 15px;
  left: 15px;
  transform-origin: bottom right;
  animation: head 3s linear infinite;
}

.loader36 section span:nth-child(2) .eye{
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #714c2f;
  bottom: 2px;
  right: 2px;
}

.loader36 section span:nth-child(3){
  height: 35px;
  width: 35px;
  border-radius: 0px 35px 0px 0px;
  background: #fdd159;
  left: 50px;
  top: 15px;
  transform-origin: bottom left;
  animation: beak 3s linear infinite;
}
.loader36 section span:nth-child(4){
  height: 35px;
  width: 35px;
  border-radius: 0px 0px 0px 35px;
  background: #deecf1;
  left: 15px;
  top: 50px;
  transform-origin: top right;
  animation: throat 3s linear infinite;
}
.loader36 section span:nth-child(5){
  height: 15px;
  width: 15px;
  border-radius: 0px 0px 15px 0px;
  background: #fcbd11;
  left: 50px;
  top: 50px;
  transform-origin: top left;
  animation: tounge 3s linear infinite;
}

@keyframes body {
  0%{
    transform: rotate(0deg);
  }
  20%{
    transform: rotate(180deg);
  }
  50%{
    transform: rotate(180deg);
  }
  70%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes head{
  0%{
    transform: rotate(0deg);
  }
  20%{
    transform: rotate(90deg);
  }
  50%{
    transform: rotate(90deg);
  }
  70%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

@keyframes beak{
  0%{
    transform: rotate(0deg);
  }
  20%{
    transform: rotate(-90deg);
  }
  50%{
    transform: rotate(-90deg);
  }
  70%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
@keyframes throat{
  0%{
    transform: rotate(0deg);
  }
  20%{
    transform: rotate(-90deg);
  }
  50%{
    transform: rotate(-90deg);
  }
  70%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

@keyframes tounge{
  0%{
    transform: rotate(0deg);
  }
  20%{
    transform: rotate(90deg);
  }
  50%{
    transform: rotate(90deg);
  }
  70%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

/*!-------------------------------Loader37---------------------------------*/

::-webkit-scrollbar {
  width: 0px;
}
