@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: linear-gradient(to right, #ad5389, #3c1053);
  min-height: 100vh;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 200px);
  margin: 30px auto;
}

.container div {
  background-color: rgb(0, 0, 0);
  height: 90%;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

/*!--------------------------Loader1 CSS---------------------------*/

.loader1 span {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  scale: 0.3;
  animation: rotate 1.6s linear infinite;
  animation-delay: calc(0.2s * var(--i));
}

.loader1 span:nth-child(1) {
  top: 55px;
}

.loader1 span:nth-child(2) {
  right: 178px;
  top: 64px;
}

.loader1 span:nth-child(3) {
  right: 170px;
}

.loader1 span:nth-child(4) {
  right: 178px;
  bottom: 64px;
}

.loader1 span:nth-child(5) {
  bottom: 55px;
}

.loader1 span:nth-child(6) {
  left: 178px;
  bottom: 64px;
}

.loader1 span:nth-child(7) {
  left: 170px;
}

.loader1 span:nth-child(8) {
  left: 178px;
  top: 64px;
}

@keyframes rotate {
  0% {
    transform: scale(2.5);
  }
  100% {
    transform: scale(0.1);
  }
}

/*!--------------------------Loader2 CSS---------------------------*/

.loader2 span {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  animation: upanddown 1s linear infinite;
  animation-delay: calc(0.2s * var(--i));
  background: #f25022;
}

@keyframes upanddown {
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

.loader2 span:nth-child(2) {
  left: 165px;
  background: #db4437;
}

.loader2 span:nth-child(4) {
  right: 165px;
  background: #f4b400;
}

.loader2 span:nth-child(1) {
  left: 135px;
  background: #4285f4;
}

.loader2 span:nth-child(5) {
  right: 135px;
  background: #0f9d58;
}

/*!--------------------------Loader3 CSS---------------------------*/

.loader3 span {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  height: 20px;
  width: 6px;
  border-radius: 5px;
  animation: bar 2.4s linear infinite;
  animation-delay: calc(0.2s * var(--i));
}

.loader3 span:nth-child(1) {
  top: 50px;
}

.loader3 span:nth-child(7) {
  bottom: 50px;
}

.loader3 span:nth-child(10) {
  transform: rotate(90deg);
  left: 170px;
}

.loader3 span:nth-child(4) {
  transform: rotate(90deg);
  right: 170px;
}

.loader3 span:nth-child(6) {
  bottom: 54px;
  transform: rotate(-30deg);
  left: 217px;
}

.loader3 span:nth-child(5) {
  bottom: 65px;
  right: 175px;
  transform: rotate(-60deg);
}

.loader3 span:nth-child(2) {
  transform: rotate(30deg);
  left: 217px;
  top: 55px;
}

.loader3 span:nth-child(3) {
  transform: rotate(60deg);
  right: 175px;
  top: 65px;
}

.loader3 span:nth-child(12) {
  top: 55px;
  left: 186px;
  transform: rotate(-30deg);
}

.loader3 span:nth-child(11) {
  top: 64px;
  transform: rotate(-60deg);
  left: 173px;
}

.loader3 span:nth-child(8) {
  transform: rotate(30deg);
  left: 188px;
  bottom: 54px;
}

.loader3 span:nth-child(9) {
  transform: rotate(60deg);
  left: 175px;
  bottom: 65px;
}

@keyframes bar {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  0% {
    background-color: rgba(255, 255, 255, 1);
  }
}

/*!--------------------------Loader4 CSS---------------------------*/

.loader4 span {
  position: absolute;
  height: 90px;
  width: 90px;
  background: linear-gradient(270deg, #1a2a6c, #b21f1f, #fdbb2d);
  border-radius: 50%;
  animation: rotate1 3s linear infinite;
}

@keyframes rotate1 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.loader4 section {
  position: relative;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  top: -1px;
}

.loader4 .write {
  position: absolute;
  color: #fff;
  height: 18px;
  width: 50px;
  font-size: 12px;
  bottom: 45%;
}

/*!--------------------------Loader5 CSS---------------------------*/

.loader5 span {
  position: absolute;
  height: 70px;
  width: 70px;
  border: 4px solid #ecb22e;
  border-radius: 50%;
  animation: water 3s linear infinite;
  animation-delay: calc(-1s * var(--i));
}

@keyframes water {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}

/*!--------------------------Loader6 CSS---------------------------*/

.loader6 .top {
  position: absolute;
  height: 100px;
  width: 100px;
  border-top: 10px solid #833ab4;
  border-left: 10px solid transparent;
  border-radius: 50%;
  animation: run 1s linear infinite;
}

.loader6 .top .inner {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #833ab4;
  border-radius: 50%;
  top: 2.5px;
  left: 4px;
  animation: ch 1s linear infinite;
}

@keyframes run {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
    border-top-color: #b92b27;
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes ch {
  50% {
    background: #b92b27;
  }
}

.loader6 h3 {
  color: #fff;
  font-size: 12px;
}

/*!--------------------------Loader7 CSS---------------------------*/

.loader7 .top1 {
  position: absolute;
  height: 80px;
  width: 80px;
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-radius: 50%;
  animation: run1 2s linear infinite;
  /* background-color: red; */
}

@keyframes run1 {
  0% {
    transform: rotate(0deg);
    border-top: 7px solid #00c3ff;
    border-bottom: 7px solid #ffff1c;
  }
  50% {
    transform: rotate(-180deg);
    border-top: 7px solid #ffff1c;
    border-bottom: 7px solid #00c3ff;
  }
  100% {
    transform: rotate(-360deg);
    border-top: 7px solid #00c3ff;
    border-bottom: 7px solid #ffff1c;
  }
}

/*!--------------------------Loader8 CSS---------------------------*/

.loader8 span {
  position: relative;
  height: 100px;
  width: 100px;
  /* background-color: #fff; */
  border-radius: 50%;
  border-top: 7px solid #8a2387;
  animation: colorspinner 2s linear infinite;
}

.loader8 span::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: -7px;
  /* background-color: #fff; */
  border-radius: 50%;
  border-top: 7px solid #e94057;
  transform: rotate(120deg);
}

.loader8 span::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: -7px;
  /* background-color: #fff; */
  border-radius: 50%;
  border-top: 7px solid #f27121;
  transform: rotate(240deg);
}

.loader8 h3 {
  color: #fff;
  margin-left: 15px;
  /* background-color: red; */
}

@keyframes colorspinner {
  100% {
    transform: rotate(360deg);
  }
}

/*!----------------------------Loader9 css------------------------------------*/

.loader9 span {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border-top: 7px solid #8a2387;
  animation: colorspinner 2s linear infinite;
}

.loader9 span::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: -4px;
  left: 7px;
  border-radius: 50%;
  border-top: 7px solid #e94057;
  transform: rotate(120deg);
}

.loader9 span::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 1px;
  left: 1px;
  border-radius: 50%;
  border-top: 7px solid #f27121;
  transform: rotate(240deg);
}

.loader9 h3 {
  color: #fff;
  margin-left: 15px;
  /* background-color: red; */
}

@keyframes colorspinner {
  100% {
    transform: rotate(360deg);
  }
}

/*!-------------------------------Loader10---------------------------------*/

.loader10 span {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  /* background-color: #fff; */
  border: 0px solid blue;
}

.loader10 span:nth-child(3) {
  border-bottom: 5px solid #fcb045;
  animation: r1 1.5s linear infinite;
}

.loader10 span:nth-child(2) {
  border-right: 5px solid #833ab4;
  animation: r2 1.5s linear infinite;
}

.loader10 span:nth-child(1) {
  border-top: 5px solid #fd1d1d;
  animation: r3 1.5s linear infinite;
}

@keyframes r1 {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes r2 {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes r3 {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

/*!-------------------------------Loader11---------------------------------*/

.loader11 span {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border-top: 10px solid #1f4037;
  border-left: 10px solid #99f2c8;
  border-right: 10px solid #99f2c8;
  border-bottom: 10px solid #99f2c8;
  animation: rotate2 1s linear infinite;
}

@keyframes rotate2 {
  100% {
    transform: rotate(360deg);
  }
}

/*!-------------------------------Loader12---------------------------------*/

.loader12 {
  flex-direction: column;
}

.loader12 .load {
  height: 50px;
  margin-top: 45px;
  position: relative;
  transform-origin: bottom center;
  animation: round 3s linear infinite;
}

.loader12 span {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: purple;
  margin: -5px;
  transform: scale(0);
  animation: grow 1.5s linear infinite;
}

.loader12 span:nth-child(2) {
  background-color: palevioletred;
  animation-delay: 0.75s;
}

@keyframes round {
  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  50% {
    transform: scale(1);
  }
}

/*!-------------------------------Loader13---------------------------------*/

.loader13 span {
  display: inline-block;
  height: 0px;
  width: 0px;
  background-color: purple;
  border-radius: 50%;
  margin: 5px;
  transform: translateY(0px);
  animation: bounce 0.6s infinite alternate;
}

.loader13 span:nth-child(2) {
  background: palevioletred;
  animation-delay: 0.2s;
}

.loader13 span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    width: 20px;
    height: 20px;
    transform: translateY(-16px);
  }
}

/*!-------------------------------Loader14---------------------------------*/

.loader14 span {
  position: absolute;
}

.loader14 span:nth-child(1) {
  height: 80px;
  width: 80px;
  border-top: 1px solid #1a2a6c;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 50%;
  animation: rotate3 linear 1s infinite;
}

.loader14 span:nth-child(2) {
  height: 95px;
  width: 95px;
  border-top: 1px solid #b21f1f;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 50%;
  animation: rotate3 linear 1.5s infinite;
}

.loader14 span:nth-child(3) {
  height: 110px;
  width: 110px;
  border-top: 1px solid #fdbb2d;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 50%;
  animation: rotate3 linear 2s infinite;
}

@keyframes rotate3 {
  to {
    transform: rotate(360deg);
  }
}

/*!-------------------------------Loader15---------------------------------*/

.loader15 span {
  position: absolute;
  height: 60px;
  width: 60px;
  background: linear-gradient(#de6161, #2657eb);
  /* overflow: hidden; */
  /* transform: rotate(45deg); */
  clip-path: polygon(50%0%, 100%100%, 0%100%);
  animation: box 3s linear infinite;
}

@keyframes box {
  12.5% {
    transform: rotate(90deg);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  25% {
    transform: rotate(180deg);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  }
  37.5% {
    transform: rotate(270deg);
    clip-path: polygon(50% 0%,100% 25%,100% 75%,50% 100%,0% 75%,0% 25%);
  }
  50% {
    transform: rotate(360deg);
    clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
  }
  62.5% {
    transform: rotate(450deg);
    clip-path: polygon(50% 0%,100% 25%,100% 75%,50% 100%,0% 75%,0% 25%);
  }
  75% {
    transform: rotate(540deg);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  }
  87.5% {
    transform: rotate(630deg);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  100% {
    transform: rotate(720deg);
    clip-path: polygon(50%0%, 100%100%, 0%100%);
  }
}

/*!-------------------------------Loader16---------------------------------*/

.loader16 span{
  position: absolute;
  height: 20px;
  width: 20px;
  border: 2px solid;
  border-radius: 50%;
  border-color: #fdbb2d transparent transparent #fdbb2d;
  animation: rotate4 1s linear infinite;
}

.loader16 span:nth-child(2){
  height: 30px;
  width: 30px;
  border-color: #b21f1f transparent transparent #b21f1f;
  animation: rotate4 1.1s linear infinite;
}

.loader16 span:nth-child(3){
  height: 40px;
  width: 40px;
  border-color: #1a2a6c transparent transparent #1a2a6c;
  animation: rotate4 1.2s linear infinite;
}

.loader16 span:nth-child(4){
  height: 50px;
  width: 50px;
  animation: rotate4 1.3s linear infinite;
}

.loader16 span:nth-child(5){
  height: 60px;
  width: 60px;
  border-color: #b21f1f transparent transparent #b21f1f;
  animation: rotate4 1.4s linear infinite;
}

.loader16 span:nth-child(6){
  height: 70px;
  width: 70px;
  border-color: #1a2a6c transparent transparent #1a2a6c;
  animation: rotate4 1.5s linear infinite;
}

.loader16 span:nth-child(7){
  height: 80px;
  width: 80px;
  animation: rotate4 1.6s linear infinite;
}

.loader16 span:nth-child(8){
  height: 90px;
  width: 90px;
  border-color: #b21f1f transparent transparent #b21f1f;
  animation: rotate4 1.7s linear infinite;
}

.loader16 span:nth-child(9){
  height: 100px;
  width: 100px;
  border-color: #1a2a6c transparent transparent #1a2a6c;
  animation: rotate4 1.8s linear infinite;
}

.loader16 span:nth-child(10){
  height: 110px;
  width: 110px;
  animation: rotate4 1.9s linear infinite;
}

@keyframes rotate4 {
  to{
    transform: rotate(360deg);
  }
}

/*!-------------------------------Loader17---------------------------------*/

.loader17 span{
  position: absolute;
  height: 20px;
  width: 20px;
  top: 38%;
  border-radius: 50%;
  animation: spin 2s ease infinite;
  animation-delay: calc(-0.5s*var(--i));
}

.loader17 span:first-child{
  background-color: #ff6795;
}

.loader17 span:nth-child(2){
  background-color: #3cbdff;
}

.loader17 span:nth-child(3){
  background-color: #ffe448;
}

.loader17 span:last-child{
  background-color: #feaa82;
}

@keyframes spin {
  0%,100%{
    transform: translate(0);
  }
  25%{
    transform: translate(160%);
  }
  50%{
    transform: translate(160%,160%);
  }
  75%{
    transform: translate(0,160%);
  }
}

::-webkit-scrollbar {
  width: 0px;
}
